Repository Prescott-Data/nexus-framework: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

Lint & Test (gateway):
  caches:
  - godeps
  size: 2x
  script:
  - cd oauth-framework/dromos-oauth-gateway
  - go fmt ./...
  - go vet ./...
  - go mod tidy
  - go test ./...

Lint & Test (broker):
  caches:
  - godeps
  size: 2x
  script:
  - cd oauth-framework/dromos-oauth-broker
  - go fmt ./...
  - go vet ./...
  - go mod tidy
  - go test ./...

Build & Push Broker Image:
  image: mcr.microsoft.com/azure-cli
  services:
  - docker
  size: 2x
  caches:
  - docker-cache
  script:
  - 'set -eo pipefail
  
    : "${AZURE_APP_ID:?AZURE_APP_ID repo variable required}"
  
    : "${AZURE_TENANT_ID:?AZURE_TENANT_ID repo variable required}"
  
  ...

Deploy Broker to Azure Container Apps:
  image: mcr.microsoft.com/azure-cli
  script:
  ...

Build & Push Gateway Image:
  image: mcr.microsoft.com/azure-cli
  services:
  - docker
  size: 2x
  caches:
  - docker-cache
  script:
  - 'set -eo pipefail
  
    : "${AZURE_APP_ID:?AZURE_APP_ID repo variable required}"
  
    : "${AZURE_TENANT_ID:?AZURE_TENANT_ID repo variable required}"
  
  ...

Deploy Gateway to Azure Container Apps:
  image: mcr.microsoft.com/azure-cli
  script:
  ...

Build (if broker changed):
  image: docker:24
  services:
  - docker
  script:
  - docker build -t tmp/broker -f oauth-framework/dromos-oauth-broker/Dockerfile oauth-framework/dromos-oauth-broker

Build (if gateway changed):
  image: docker:24
  services:
  - docker
  script:
  - docker build -t tmp/gateway -f oauth-framework/dromos-oauth-gateway/Dockerfile oauth-framework/dromos-oauth-gateway

fix: resolve GetProfileByName scan error and provider duplicates
  dromos-oauth-broker/geminicli.md
  dromos-oauth-broker/internal/provider/store.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

chore: update session summary with final verification details
  dromos-oauth-broker/geminicli.md
  dromos-oauth-broker/server.log
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat: support configurable OAuth2 token auth methods (Basic/Body)
  dromos-oauth-broker/internal/handlers/callback.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

chore: update .gitignore with standard exclusions
  dromos-oauth-broker/.gitignore
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: handle null auth_header in provider store lookups
  dromos-oauth-broker/internal/provider/store.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

docs: add tech debt item for structured logging separation
  dromos-oauth-broker/docs/TECH_DEBT.md
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat: add api_base_url and user_info_endpoint to provider profile
  dromos-oauth-broker/internal/provider/store.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat: add GET /providers/metadata endpoint
  dromos-oauth-broker/internal/handlers/providers.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat: register /providers/metadata endpoint
  dromos-oauth-broker/cmd/oauth-broker/main.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

docs: update provider registration guide with new metadata fields
  dromos-oauth-broker/README.md
  dromos-oauth-broker/docs/PROVIDERS.md
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: add GetMetadata to ProfileStorer interface
  dromos-oauth-broker/internal/provider/interfaces.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

test: update MockStore with GetMetadata method
  dromos-oauth-broker/internal/handlers/providers_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

test: fix SQL mock expectations for RegisterProfile
  dromos-oauth-broker/internal/provider/store_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat: add backfill metadata script for existing providers
  dromos-oauth-broker/scripts/backfill_metadata.sql
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat(gateway): add GET /v1/providers proxy endpoint
  dromos-oauth-gateway/internal/server/server.go
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

docs: add /v1/providers to openapi spec
  openapi.yaml
Due: none

docs: add openapi.yaml for dromos-oauth-broker
  dromos-oauth-broker/openapi.yaml
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

refactor(gateway): use generated openapi client for broker communication
  dromos-oauth-gateway/go.mod
  dromos-oauth-gateway/go.sum
  dromos-oauth-gateway/internal/broker/client.gen.go
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

test(gateway): add unit tests for usecase handler
  dromos-oauth-gateway/internal/usecase/handler_test.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

docs(gateway): add README.md
  dromos-oauth-gateway/README.md
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

Path conditions:
  Lint & Test (gateway): any of: dromos-oauth-gateway/**
  Lint & Test (broker): any of: dromos-oauth-broker/**
  Build & Push Broker Image: any of: dromos-oauth-broker/**
  Deploy Broker to Azure Container Apps: any of: dromos-oauth-broker/**
  Build & Push Gateway Image: any of: dromos-oauth-gateway/**
  Deploy Gateway to Azure Container Apps: any of: dromos-oauth-gateway/**
  Build (if broker changed): any of: dromos-oauth-broker/**
  Build (if gateway changed): any of: dromos-oauth-gateway/**
