Repository Prescott-Data/nexus-framework: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

Path conditions:
  Lint & Test (gateway): any of: dromos-oauth-gateway/**
  Lint & Test (broker): any of: dromos-oauth-broker/**
  Build & Push Broker Image: any of: dromos-oauth-broker/**
  Deploy Broker to Azure Container Apps: any of: dromos-oauth-broker/**
  Build & Push Gateway Image: any of: dromos-oauth-gateway/**
  Deploy Gateway to Azure Container Apps: any of: dromos-oauth-gateway/**
  Build (if broker changed): any of: dromos-oauth-broker/**
  Build (if gateway changed): any of: dromos-oauth-gateway/**

touched readme files to activate pipeline
  README.md
  dromos-oauth-broker/README.md
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

touched readme files to activate pipeline
  dromos-oauth-gateway/Makefile
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

touched readme files to activate pipeline
  bitbucket-pipelines.yml
  dromos-oauth-broker/README.md
  dromos-oauth-gateway/Makefile
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

fixed PKCE test
  dromos-oauth-broker/internal/auth/pkce_test.go
  dromos-oauth-gateway/Makefile
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

added prometheus metrics to gateway
  dromos-oauth-gateway/go.mod
  dromos-oauth-gateway/go.sum
  dromos-oauth-gateway/internal/server/server.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

upgrade go version
  bitbucket-pipelines.yml
  dromos-oauth-gateway/Makefile
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

upgrade go version to 1.23
  dromos-oauth-broker/Dockerfile
  dromos-oauth-gateway/Dockerfile
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

updated integrations.md file
  INTEGRATIONS.md
Due: none

update readme file to be comprehensive
  README.md
Due: none

oauth-sdk: add Go client v0.1.0, openapi v1, example, retries
  INTEGRATIONS.md
  README.md
  oauth-sdk/README.md
  oauth-sdk/client.go
  oauth-sdk/client_test.go
  oauth-sdk/cmd/example/main.go
  oauth-sdk/go.mod
  openapi.yaml
Due: none

oauth-sdk: move module path to bitbucket.org/dromos; update imports/docs
  INTEGRATIONS.md
  oauth-sdk/README.md
  oauth-sdk/cmd/example/main.go
  oauth-sdk/go.mod
Due: none

feat(bridge): make bridge a distributable Go module
  bridge/go.mod
  bridge/go.sum
Due: none

Distribution: Packaging the library as a versioned Go module (`v1.0.0`) to make it a distributable SDK.
  bridge/GEMINI_WORK_SUMMARY.md
Due: none

taken care of the token refresh bug
  dromos-oauth-broker/internal/handlers/callback.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

added bug tracking documentation file
  BUG_TRACKING.md
Due: none

feat(auth): Add support for non-oauth providers
  dromos-oauth-broker/cmd/oauth-broker/main.go
  dromos-oauth-broker/docs/PROVIDERS.md
  dromos-oauth-broker/docs/TECH_DEBT.md
  dromos-oauth-broker/internal/handlers/callback.go
  dromos-oauth-broker/internal/handlers/consent.go
  dromos-oauth-broker/internal/handlers/providers.go
  dromos-oauth-broker/internal/provider/store.go
  dromos-oauth-broker/internal/storage/pg.go
  dromos-oauth-broker/migrations/03_add_provider_soft_delete.sql
  dromos-oauth-broker/migrations/04_refactor_providers_for_non_oauth.sql
  dromos-oauth-broker/migrations/05_make_code_verifier_nullable.sql
  temp.md
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)
