Repository Prescott-Data/nexus-framework: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

Lint & Test (gateway):
  caches:
  - godeps
  size: 2x
  script:
  - cd oauth-framework/dromos-oauth-gateway
  - go fmt ./...
  - go vet ./...
  - go mod tidy
  - go test ./...

Lint & Test (broker):
  caches:
  - godeps
  size: 2x
  script:
  - cd oauth-framework/dromos-oauth-broker
  - go fmt ./...
  - go vet ./...
  - go mod tidy
  - go test ./...

Build & Push Broker Image:
  image: mcr.microsoft.com/azure-cli
  services:
  - docker
  size: 2x
  caches:
  - docker-cache
  script:
  - 'set -eo pipefail
  
    : "${AZURE_APP_ID:?AZURE_APP_ID repo variable required}"
  
    : "${AZURE_TENANT_ID:?AZURE_TENANT_ID repo variable required}"
  
  ...

Deploy Broker to Azure Container Apps:
  image: mcr.microsoft.com/azure-cli
  script:
  ...

Build & Push Gateway Image:
  image: mcr.microsoft.com/azure-cli
  services:
  - docker
  size: 2x
  caches:
  - docker-cache
  script:
  - 'set -eo pipefail
  
    : "${AZURE_APP_ID:?AZURE_APP_ID repo variable required}"
  
    : "${AZURE_TENANT_ID:?AZURE_TENANT_ID repo variable required}"
  
  ...

Deploy Gateway to Azure Container Apps:
  image: mcr.microsoft.com/azure-cli
  script:
  ...

Build (if broker changed):
  image: docker:24
  services:
  - docker
  script:
  - docker build -t tmp/broker -f oauth-framework/dromos-oauth-broker/Dockerfile oauth-framework/dromos-oauth-broker

Build (if gateway changed):
  image: docker:24
  services:
  - docker
  script:
  - docker build -t tmp/gateway -f oauth-framework/dromos-oauth-gateway/Dockerfile oauth-framework/dromos-oauth-gateway

docs: add airtable-api to audit csv
  providers_oauth2_audit.csv
Due: none

relaxed scope restriction globally; updated readme file for OIDC & self discovery
  dromos-oauth-broker/README.md
  dromos-oauth-broker/internal/handlers/consent.go
  dromos-oauth-gateway/internal/usecase/handler.go
  providers_non_oauth_audit.csv
  providers_oauth2_audit.csv
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

updated documentation
  docs/PROVIDERS.md
  dromos-oauth-broker/README.md
  dromos-oauth-gateway/README.md
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

docs: update atlassian scopes and mark as PASS
  providers_oauth2_audit.csv
Due: none

feat: add user_id to return URL in callback handler
  dromos-oauth-broker/internal/auth/state.go
  dromos-oauth-broker/internal/handlers/callback.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix(broker,gateway): enable full support for non-oauth strategies
  docs/guides/managing-providers.md
  dromos-oauth-broker/internal/handlers/callback.go
  dromos-oauth-broker/internal/provider/store.go
  dromos-oauth-broker/openapi.yaml
  dromos-oauth-gateway/internal/broker/client.gen.go
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

fix: make GetByName endpoint case-insensitive
  dromos-oauth-broker/internal/handlers/providers.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: make GetProfileByName SQL query case-insensitive
  dromos-oauth-broker/internal/provider/store.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: ensure GetByName handles provider names in a case-insensitive manner
  dromos-oauth-broker/internal/handlers/providers.go
  dromos-oauth-broker/internal/provider/store.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat: enhance error handling for provider registration and creation
  dromos-oauth-broker/internal/handlers/providers.go
  dromos-oauth-broker/internal/provider/store.go
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

feat: improve error handling in TestRegisterProfile_OAuth2 and enhance mock expectations
  dromos-oauth-broker/internal/provider/store_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat: normalize optional fields in RegisterProfile method
  dromos-oauth-broker/internal/provider/store.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: improve error handling in TestRegisterProfile_StaticKey and update assertions
  dromos-oauth-broker/internal/provider/store_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: enhance error handling and validation in provider registration
  dromos-oauth-broker/internal/handlers/providers.go
  dromos-oauth-broker/internal/provider/store.go
  dromos-oauth-broker/internal/provider/store_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: improve comments and clarity in TestRegisterProfile_OAuth2 and TestRegisterProfile_InvalidOAuth2
  dromos-oauth-broker/internal/provider/store_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: refine error handling and improve clarity in TestRegisterProfile_OAuth2 and TestRegisterProfile_StaticKey
  dromos-oauth-broker/internal/provider/store_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: parse broker JSON errors in CreateProvider handler
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

fix: pass NULL to database for empty auth_url/token_url when discovery enabled
  dromos-oauth-broker/internal/provider/store.go
  dromos-oauth-broker/internal/provider/store_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

fix: correct NULL handling and error parsing for OAuth2 discovery mode
  dromos-oauth-broker/internal/provider/store.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

pipeline error solved
  bitbucket-pipelines.yml
Due: none

Path conditions:
  Lint & Test (gateway): any of: dromos-oauth-gateway/**
  Lint & Test (broker): any of: dromos-oauth-broker/**
  Build & Push Broker Image: any of: dromos-oauth-broker/**
  Deploy Broker to Azure Container Apps: any of: dromos-oauth-broker/**
  Build & Push Gateway Image: any of: dromos-oauth-gateway/**
  Deploy Gateway to Azure Container Apps: any of: dromos-oauth-gateway/**
  Build (if broker changed): any of: dromos-oauth-broker/**
  Build (if gateway changed): any of: dromos-oauth-gateway/**
