Repository Prescott-Data/nexus-framework: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

Lint & Test (gateway):
  caches:
  - godeps
  size: 2x
  script:
  - cd oauth-framework/dromos-oauth-gateway
  - go fmt ./...
  - go vet ./...
  - go mod tidy
  - go test ./...

Lint & Test (broker):
  caches:
  - godeps
  size: 2x
  script:
  - cd oauth-framework/dromos-oauth-broker
  - go fmt ./...
  - go vet ./...
  - go mod tidy
  - go test ./...

Build & Push Broker Image:
  image: mcr.microsoft.com/azure-cli
  services:
  - docker
  size: 2x
  caches:
  - docker-cache
  script:
  - 'set -eo pipefail
  
    : "${AZURE_APP_ID:?AZURE_APP_ID repo variable required}"
  
    : "${AZURE_TENANT_ID:?AZURE_TENANT_ID repo variable required}"
  
  ...

Deploy Broker to Azure Container Apps:
  image: mcr.microsoft.com/azure-cli
  script:
  ...

Build & Push Gateway Image:
  image: mcr.microsoft.com/azure-cli
  services:
  - docker
  size: 2x
  caches:
  - docker-cache
  script:
  - 'set -eo pipefail
  
    : "${AZURE_APP_ID:?AZURE_APP_ID repo variable required}"
  
    : "${AZURE_TENANT_ID:?AZURE_TENANT_ID repo variable required}"
  
  ...

Deploy Gateway to Azure Container Apps:
  image: mcr.microsoft.com/azure-cli
  script:
  ...

Build (if broker changed):
  image: docker:24
  services:
  - docker
  script:
  - docker build -t tmp/broker -f oauth-framework/dromos-oauth-broker/Dockerfile oauth-framework/dromos-oauth-broker

Build (if gateway changed):
  image: docker:24
  services:
  - docker
  script:
  - docker build -t tmp/gateway -f oauth-framework/dromos-oauth-gateway/Dockerfile oauth-framework/dromos-oauth-gateway

feat: add provider management endpoints to gateway
  dromos-oauth-broker/internal/provider/store.go
  dromos-oauth-broker/migrations/09_add_integration_metadata.sql
  dromos-oauth-broker/openapi.yaml
  dromos-oauth-gateway/README.md
  dromos-oauth-gateway/internal/broker/client.gen.go
  dromos-oauth-gateway/internal/server/server.go
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

fix(broker): only perform OIDC discovery if openid scope is requested
  dromos-oauth-broker/internal/handlers/consent.go
  dromos-oauth-broker/internal/handlers/consent_test.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat(bridge): Implement generic authentication engine and observability
  bridge/bridge.go
  bridge/bridge_test.go
  bridge/go.mod
  bridge/go.sum
  bridge/grpc_credentials.go
  bridge/integration_test.go
  bridge/internal/auth/strategies.go
  bridge/internal/auth/strategies_test.go
  bridge/techdebt.md
  bridge/telemetry/handler.go
  bridge/telemetry/logger.go
  bridge/telemetry/metrics.go
  oauth-sdk/client.go
Due: none

update readme files
  INTEGRATIONS.md
  README.md
  bridge/README.md
  bridge/techdebt.md
  oauth-sdk/README.md
Due: none

feat: implement gateway refresh proxy and generic auth strategies
  README.md
  bridge/GEMINI_WORK_SUMMARY.md
  bridge/README.md
  bridge/bridge.go
  bridge/bridge_test.go
  bridge/integration_test.go
  bridge/techdebt.md
  bridge/telemetry/metrics.go
  bridge/telemetry/metrics_test.go
  docs/NEXUS_PROTOCOL.md
  docs/WHITE_PAPER_OUTLINE.md
  docs/architecture.md
  docs/deployment.md
  docs/guides/integrating-agents.md
  docs/guides/managing-providers.md
  docs/reference/api.md
  docs/reference/security-model.md
  docs/reference/tech-debt.md
  dromos-oauth-broker/.gitignore
  dromos-oauth-broker/broker_whitepaper.md
  dromos-oauth-broker/docs/TECH_DEBT.md
  dromos-oauth-broker/internal/handlers/callback.go
  dromos-oauth-gateway/README.md
  dromos-oauth-gateway/api/proto/oha/v1/oha.proto
  dromos-oauth-gateway/gen/go/api/proto/oha/v1/oha.pb.go
  dromos-oauth-gateway/gen/go/api/proto/oha/v1/oha.pb.gw.go
  dromos-oauth-gateway/gen/go/api/proto/oha/v1/oha_grpc.pb.go
  dromos-oauth-gateway/gen/openapi/api/proto/oha/v1/oha.swagger.json
  dromos-oauth-gateway/go.mod
  dromos-oauth-gateway/internal/grpc/server_grpc.go
  dromos-oauth-gateway/internal/server/server.go
  dromos-oauth-gateway/internal/usecase/handler.go
  oauth-sdk/client.go
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

docs: document shared memory risk and sidecar roadmap
  docs/reference/tech-debt.md
Due: none

docs: define connection states and ignore white paper
  .gitignore
  docs/NEXUS_PROTOCOL.md
Due: none

docs: update architecture and sdk readme to reflect gateway refresh proxy
  docs/architecture.md
  oauth-sdk/README.md
Due: none

chore: trigger pipeline build for broker and gateway
  dromos-oauth-broker/README.md
  dromos-oauth-gateway/README.md
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

feat: implement 'attention' state for unrecoverable refresh errors and add Nexus white paper
  .gitignore
  docs/The Nexus Protocol_  Standardizing Identity and Connection Orchestration for Autonomous Agents.pdf
  docs/WHITE_PAPER.md
  docs/reference/tech-debt.md
  dromos-oauth-broker/internal/handlers/callback.go
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

chore: trigger pipeline build for env updates
  dromos-oauth-broker/README.md
  dromos-oauth-gateway/README.md
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

fix(gateway): add CORS middleware and log tech debt
  docs/reference/tech-debt.md
  dromos-oauth-gateway/go.mod
  dromos-oauth-gateway/go.sum
  dromos-oauth-gateway/internal/grpc/server_grpc.go
  dromos-oauth-gateway/internal/server/server.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

feat(gateway): add callback proxy route
  dromos-oauth-gateway/go.mod
  dromos-oauth-gateway/go.sum
  dromos-oauth-gateway/internal/server/server.go
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

feat(broker): implement PATCH /providers/{id} and update openapi
  dromos-oauth-broker/cmd/oauth-broker/main.go
  dromos-oauth-broker/internal/handlers/providers.go
  dromos-oauth-broker/internal/handlers/providers_test.go
  dromos-oauth-broker/internal/provider/interfaces.go
  dromos-oauth-broker/internal/provider/store.go
  dromos-oauth-broker/openapi.yaml
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

feat(gateway): implement PATCH /providers/{id} via broker proxy
  dromos-oauth-gateway/internal/broker/client.gen.go
  dromos-oauth-gateway/internal/server/server.go
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

chore: ignore build artifacts and test reports
  .gitignore
Due: none

chore: add audit csv and save pending fixes (callback, scripts, docs)
  BUG_TRACKING.md
  dromos-oauth-broker/internal/handlers/callback.go
  dromos-oauth-broker/scripts/backfill_metadata.sql
  providers_oauth2_audit.csv
Due: Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build (if broker changed)

trigger gateway pipeline
  dromos-oauth-gateway/README.md
  dromos-oauth-gateway/cmd/audit-providers/main.go
Due: Lint & Test (gateway), Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if gateway changed)

corrected the gateway 500 error
  dromos-oauth-broker/openapi.yaml
  dromos-oauth-gateway/internal/broker/client.gen.go
  dromos-oauth-gateway/internal/usecase/handler.go
Due: Lint & Test (gateway), Lint & Test (broker), Build & Push Broker Image, Deploy Broker to Azure Container Apps, Build & Push Gateway Image, Deploy Gateway to Azure Container Apps, Build (if broker changed), Build (if gateway changed)

docs: update airtable audit status to verified with 7 scopes
  providers_oauth2_audit.csv
Due: none

Path conditions:
  Lint & Test (gateway): any of: dromos-oauth-gateway/**
  Lint & Test (broker): any of: dromos-oauth-broker/**
  Build & Push Broker Image: any of: dromos-oauth-broker/**
  Deploy Broker to Azure Container Apps: any of: dromos-oauth-broker/**
  Build & Push Gateway Image: any of: dromos-oauth-gateway/**
  Deploy Gateway to Azure Container Apps: any of: dromos-oauth-gateway/**
  Build (if broker changed): any of: dromos-oauth-broker/**
  Build (if gateway changed): any of: dromos-oauth-gateway/**
